body {
  font-family: Arial, sans-serif;
  background:url("weather.webp");
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 50px;
}

input[type="text"], button {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgba(133, 133, 133, 0.571);
  border: #00000069;
  color: #000;
}

input[type="text"] {
  width: 200px;
  background: #bbbbbb42;
  border: #000;
  border-radius: 3px;
  box-shadow: #000;
  color: #dad9d9;
}

button {
  background-color: #00000052;
  border: #000;
  color: #d4f3f7cf;
  cursor: pointer;
}

button:hover {
  background-color: #c7eaf279;
  color: #000;
}

#weather-info {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #bebebe39;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #161717;
}

h2 {
  margin-bottom: 5px;
  font-size: 24px;
}

p {
  margin-top: 5px;
  font-size: 18px;
  color: #252525;
}
credits{
    color: #000000;
    font-size: 2px;
    justify-content: center;
    justify-self: unset;
    font-weight: 300;
    align-items:center;
}
#footer {
    background: #11111100;
    color: #fffae4;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #footer p {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #e4ddbbcc;
    margin-top: 0;
    text-transform: uppercase;
  }
